.content {
  font-size: 80px;
  color: #3b7fc4;
}

.clock-container {
  text-align: center;
}

.clock-time {
  font-weight: bold;
  opacity: 0.6;
}

.clock-date {
  font-size: 50%;
  color: #454545;
  line-height: 1em;
}