.build-status {
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.build-status-bar {
  margin-bottom: 18px;
  border-radius: 9px;
}

.progress {
  height: 20px;
  border-radius: 0 9px 9px 0;
  margin-left: auto;
}

.failed-report{
  padding: 3px 5px;
  font-size:90%;
}

.build-status-bar .successful {
  width: 100%;
}

.build-status-bar .failed {
  width: 0;
}

div {
  font-size: 30px;
}

.failed {
  background-color: #A32C22;
  color: white !important;
}

.successful {
  background-color: #1C842F !important;
}

.down {
  color: #FF7400 !important;
}

.plan-name {
  font-weight: bold;
  display: inline;
  position: relative;
}

.plan-name a {
  color: #FFFFFF;
  text-decoration: none;
}

.completed-time {
  font-size: 20px;
}

div.failed.unassigned {
  background-color: #ff0000;
}

div.build {
  position: relative;
  padding: 10px 15px;
  border-radius: 9px;
  margin-bottom: 9px;
}

.build-info {
  position: relative;
}

.build-overview-always-show {
  padding-bottom: 18px;
}

.responsibles{
  display: inline;
  margin-left: 10px;
  position: relative;
}

.responsibles img {
  margin-right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.hidden {
  display: none;
}

.no-broken-builds-message {
  font-size: 50px;
  text-align: center;
  color: #454545;
}

.all-builds-down-message{
  font-size: 50px;
  text-align: center;
  color: #A32C22;
}

.fail-details {
  display: inline;
  font-weight: bold;
}

.build-progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
}

.time-remaining {
  font-size: 0.8em;
  margin-left: 7px;
}

.time-remaining.slower-than-usual {
  background: black;
  padding: 0 7px 0 7px;
  border-radius: 7px;
}

.failed-tests-summary {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.6em;
  vertical-align: top;
}

.spinnerx {
  margin-left: 10px;
  margin-top: 20px;
}